<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>Alucar Veículos</title>

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <style type="text/css">
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }      
            
            body { background-color:#F8F8FF; }
        </style>
        
        
    </head>

    <body>
        
        <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#063e58;" > 
             
            <div class="container-fluid">  <img src="img/logo.png" class="row justify-content-center align-items-center" style="width:8%;  padding-bottom:0; margin: 0px ">
                <div class="navbar-header"> 
                    
                </div>
                <ul class="nav navbar-nav"> 
                    <li><a href="/" type="button" class="glyphicon glyphicon-home" > </a></li>
<!--                    <li><a href="/"> Início</a></li>-->
<!--                    <li> class="active"><a href="/">Início</a></li>-->
                  
                    <li><a href="/alugueis"> Aluguel</a></li>
                    <li><a href="/veiculos"> Veículos</a></li>
                    <li><a href="/categorias"> Categorias</a></li>
                    <li><a href="/planos"> Planos</a></li>
                    <li><a href="/clientes"> Clientes</a></li>
                    <li><a href="/funcionarios"> Funcionários</a></li>
                    <li>    <a> </a>       </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/funcionarios"><span class="glyphicon glyphicon-user"></span> Minha Conta </a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li>
                </ul>
            </div>
        </nav>
        <div class="col-12"><img src="img/quemsomos.png" style="width:60%; padding-bottom:10px; margin: 70px auto 10px auto; display:block">

        

            <footer>
                <p>&copy; Company 2019</p>
            </footer>
        </div> 
        
            
            <!-- /container -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>